body{
    padding-bottom: 100px;
    padding-top: 30px;
}

label.a{
    padding:3px;
    display: inline-block;
}

input.a{
    width: 200px;
    padding:1px;
}

a.a{
    color: red;
    text-decoration: none;    
}
a.a:hover{
    color:red;
}

br.a {
    display: block;
    content:'';
    margin-top:5px;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

