{% extends 'base.html' %}
{% block title %} Marketplace {% endblock %}
{% block content%}
<main class="d-inline-flex p-5 align-items-end">
    <div class="container">
        <div class="row">
            {% for tool in tools %}
            <div class="col-md-3">
                <a href="{{ url_for('tool', tool_id=tool.id) }}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    
                    <div class="card-body">
                        {% if tool.imgPath %}
                        <img src="{{ url_for('static', filename='images/'+tool.imgPath) }}" style="height: 50px; width:50px;text-align: center;" class="card-img-top" alt="{{ tool.title }}">
                        {% endif %} 
                        <h5 class="card-title">{{ tool.title }}</h5>
                        <p class="card-text">
                            <strong>Category:</strong> {{ tool.category }}<br>
                            <strong>Availability:</strong> {{ tool.availability }}<br>
                            <strong>Date Posted:</strong> {{ tool.datePosted }}
                        </p>
                        <p class="card-text">
                            {{ tool.description}}
                        </p>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
            
        </div>
        <div class="col-3">
            <a href="{{url_for('add_tool')}}">
                <button class="btn btn-primary">Add Listing</button>
            </a></div>
    </div>
</main>

{% endblock %}