{% extends 'base.html' %}
{% block title %}Messages{% endblock %}
{% block content %}
<main class="container p-5">
    <h2>Conversations</h2>
    <ul class="list-group">
        {% if conversation_list %}
            {% for conversation in conversation_list %}
            <li class="list-group-item">
                <a href="{{ url_for('conversation', conversation_id=conversation['conversation_id']) }}">
                    {% for user in users %}
                        {% if user['user_id'] == conversation['receiver_id'] or user['user_id'] == conversation['sender_id']%}
                            {% if user['user_id'] != user_id%}
                                Conversation with {{user['name']}}
                            {% endif %}
                        {% endif%}
                    {% endfor %}
                </a>
                <p>
                    {{conversation['content']}}
                </p>
            </li>
            {% endfor %}
        {% else %}
        {% endif %}
        <a href="{{url_for('new_conversation')}}">
            <button class="btn btn-primary">Create Message</button>
        </a>
    </ul>
</main>
{% endblock %}
